<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OOPS!</title>

    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="errContainer">
      <div class="errorText">
        <h1>Oops! Something terrible must have happened...</h1>
        <h4>500 SERVER ERROR</h4>
      </div>
    </div>
  </body>
</html>
