<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NOT FOUND!</title>

    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="errContainer">
      <div class="errorText">
        <h1>Sorry! Couldn't find what you were looking for</h1>
        <h4>404 NOT FOUND</h4>
      </div>
    </div>
  </body>
</html>
s
